{% extends 'base.html.twig' %}

{% block body %}
    <h1>Planevent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planEvent.id }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{% if planEvent.datedebut %}{{ planEvent.datedebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{% if planEvent.datefin %}{{ planEvent.datefin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ planEvent.titre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('planevent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('planevent_edit', { 'id': planEvent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
