{% extends 'baseBack.html.twig' %}

{% block body %}
    <h1>Chauffeur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chauffeur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chauffeur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ chauffeur.prenom }}</td>
            </tr>
            <tr>
                <th>Numtel</th>
                <td>{{ chauffeur.numTel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ chauffeur.email }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ chauffeur.salaire }}</td>
            </tr>
            <tr>
                <th>Hiredate</th>
                <td>{% if chauffeur.hireDate %}{{ chauffeur.hireDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chauffeur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('chauffeur_edit', { 'id': chauffeur.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('chauffeur_index') }}">envoyer mail/sms</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>

    </ul>
{% endblock %}
