{% extends 'baseBack.html.twig' %}
{% block body %}

    <!-- partial -->
    <div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liste Des Demandes D'Adhésion</h4>
                        <table class="table table-bordered" id="myTable">
                            <thead>
                            <tr>
                                <th>duree d'inscription</th>
                                <th>mode de payment</th>
                                <th>etat demande</th>
                                <th>num parent</th>
                                <th>ancien club</th>
                                <th>objectif</th>
                                <th>club</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in A %}
                            <td>{{ i.dureInsc }}</td>
                            <td>{{ i.modePayment }}</td>
                            <td>{{ i.etatDemande }}</td>
                            <td>{{ i.numParent }}</td>
                            <td>{{ i.ancienClub}}</td>
                            <td>{{ i.objectif }}</td>
                            <td>{{ i.clubId.nomclub }}</td>
                            <td> <a href="{{ path('deleted',{'id':i.id}) }}" OnClick="return confirm('Voulez vous vraiment supprimer cette club ?');">Supprimer</a></td>
                            <td> <a href="{{ path('modifierd',{'id':i.id}) }}" OnClick="return confirm('Voulez vous vraiment supprimer cette club ?');">Modifier</a></td>


                            </tbody>
                            {% endfor %}
                        </table>
                        <a href="{{ path("pdfd") }}" class="btn-primary btn">Imprimer PDF</a>
                        <br><br>
                        <div class="navigation">
                            {{ knp_pagination_render(A) }}
                        </div>
                        <br>
                        <input id="myInput" onkeyup="myFunction()" title="type in a name" placeholder="Search">


                    </div>
                </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">

            </div>
            <div class="col-lg-12 grid-margin stretch-card">

            </div>









            <div class="col-lg-12 stretch-card">

            </div>
        </div>
    </div>
    <script>

        function myFunction() {

            var input, filter, table, tr, td, i, txtValue;

            input = document.getElementById("myInput");

            filter = input.value.toUpperCase();

            table = document.getElementById("myTable");

            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {

                td = tr[i].getElementsByTagName("td")[6];

                if (td) {

                    txtValue = td.textContent || td.innerText;

                    if (txtValue.toUpperCase().indexOf(filter) > -1) {

                        tr[i].style.display = "";

                    } else {

                        tr[i].style.display = "none";

                    }

                }

            }

        }

    </script>
    <!-- content-wrapper ends -->
{% endblock %}