{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evennement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evennement.id }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ evennement.sujet }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if evennement.date %}{{ evennement.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ evennement.lieu }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ evennement.image }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evennement.description }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evennement.titre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evennements_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('evennements_edit', { 'id': evennement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
