{% extends 'base.html.twig' %}
{% block body %}
    <!--================Home Banner Area =================-->


    <!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->

    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="{{ asset('front/img/blog/main-blog/' ~ x.image)  }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">


                                    <a href="#">Food,</a>
                                    <a class="active" href="#">Technology,</a>
                                    <a href="#">Politics,</a>
                                    <a href="#">Lifestyle</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">najiba amri<i class="ti-user"></i></a></li>
                                    <li><a href="#">{{ x.dateSaisie|date('d M, Y') }}<i class="ti-calendar"></i></a></li>
                                    <li><a href="#">1.2M Views<i class="ti-eye"></i></a></li>
                                    <li><a href="#">{{ A|length }} Comments<i class="ti-comment"></i></a></li>
                                </ul>
                                <ul class="social-links">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-github"></i></a></li>
                                    <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>{{ x.titre }}</h2>
                            <p>
                                {{ x.description }}
                            </p>
                        </div>
                        <div class="col-lg-12">

                            <div class="row">

                                <div class="col-lg-12 mt-25">


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comments-area">

                        <h4>{{ A|length }} Comments</h4>
                        {% for i in A %}


                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="{{ asset('front/img/blog/c1.jpg') }}" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">{{ i.user }}</a></h5>
                                        <p class="date">{{ i.dateSaisie|date('l jS   F Y h:i A') }} </p>
                                        <p class="comment">
                                            {{ i.contenu }}
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a class="btn-reply text-uppercase" href="{{ path('deleteC',{'id':i.id}) }}">Supprimer</a>
                                    <a class="btn-reply text-uppercase" href="{{ path('modifierC',{'id':i.id}) }}">Modifier</a>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {{ form_start(form) }}
                    <div class="comment-form">
                        <h4>Post A Comment</h4>
                            <div class="form-group form-inline">

                                <div class="form-group col-lg-6 col-md-6 name">
                                    {{ form_widget(form.user, {'attr': {'class': 'form-control','placeholder':'Votre nom'} }) }}
                                    <span class="genric-btn danger circle small" id="missuser">Error</span>
                                    </br>

                                </div>
                                <div class="form-group col-lg-6 col-md-6 name">
                                    {{ form_widget(form.contenu, {'attr': {'class': 'form-control','placeholder':'contenu'} }) }}
                                    <span class="genric-btn danger circle small" id="misscon">Error</span>
                                    </br>

                                </div>

                                <br> <br>


                            </div>


                        <input type="submit" id="btn" value="Post Comment" class="primary-btn">


                        {{ form_end(form) }}
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <a class="form-control" href="{{ path('ajouter')  }}">Ajouter Article</a>

                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{{  asset('front/img/blog/author.png') }}" alt="">
                            <h4>najiba amri</h4>
                            <p>Senior blog writer</p>
                            <div class="social_icon">
                                <a href="#"><i class="ti-facebook"></i></a>
                                <a href="#"><i class="ti-twitter"></i></a>
                                <a href="#"><i class="ti-github"></i></a>
                                <a href="#"><i class="ti-linkedin"></i></a>
                            </div>
                            <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you
                                should have to spend money on boot camp when you can get. Boot camps have itssuppor
                                ters andits detractors.</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Popular Posts</h3>
                            <div class="media post_item">
                                <img src="{{ asset("front/img/blog/popular-post/post1.jpg") }}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Space The Final Frontier</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{{ asset("front/img/blog/popular-post/post2.jpg") }}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{{ asset("front/img/blog/popular-post/post3.jpg") }}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{{ asset("front/img/blog/popular-post/post4.jpg") }}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="{{ asset('front/img/blog/add.jpg') }}" alt=""></a>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Post Catgories</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Technology</p>
                                        <p>37</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Lifestyle</p>
                                        <p>24</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Fashion</p>
                                        <p>59</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Art</p>
                                        <p>29</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Food</p>
                                        <p>15</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Architecture</p>
                                        <p>09</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Adventure</p>
                                        <p>44</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Send Mail</h4>
                            <p>
                                If you want that one of your articles will be deleted from the blog,
                                you can send an email to the admin.
                            </p>
                            <div class="form-group d-flex flex-row">

                                <a href="{{ path('sendMail') }}" style="margin-left: 100px" class="bbtns">Send</a>
                            </div>
                            <p class="text-bottom">You can send emails at any time</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">Adventure</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Adventure</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <!--================Blog Area =================-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#misscon').hide();
            $('#forumbundle_commentaire_contenu').keyup(function () {
                var re = /^^.{1,}$/i;
                var x = $('#forumbundle_commentaire_contenu').val();
                if (re.test(x)) {

                    $('#btn').prop('disabled', false);
                    $('#misscon').hide();


                } else {



                    $('#misscon').show();



                    $('#btn').prop('disabled', true);
                }

            });
        })
        $(document).ready(function () {
            $('#missuser').hide();
            $('#forumbundle_commentaire_user').keyup(function () {
                var re = /^^.{1,}$/i;
                var x = $('#forumbundle_commentaire_user').val();
                if (re.test(x)) {

                    $('#btn').prop('disabled', false);
                    $('#missuser').hide();


                } else {



                    $('#missuser').show();



                    $('#btn').prop('disabled', true);
                }

            });
        })
    </script>
{% endblock %}